html { 
    overflow: auto; 
    overflow-x: hidden; 
    overflow-y: auto;
    /*
    cursor: url("https://downloads.totallyfreecursors.com/cursor_files/heartsarrow.ani"), url("https://downloads.totallyfreecursors.com/thumbnails/heartsarrow.gif"), auto;
    */
} 
  
body{
 background-image: url("./Files/home_escritorio_mesa.png"); 
 background-size: contain;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 width: 100%;
 display: block;
 margin: 0 auto;
 overflow: auto; 
 overflow-x: hidden; 
 overflow-y: auto; 
}


#teclado{
position: fixed;
width: 24vw;
bottom: 2%;
left: 30%;
padding: 0;
}

#teclado:hover{
    filter:drop-shadow(0 0 1.5rem #00ff00);
}

#mouse{
position: fixed;
width: 5vw;
bottom: 5%;
left: 63%;
padding: 0;
}

#mouse:hover{
    filter:drop-shadow(0 0 1.5rem #00ff00);
}

#monitor{
position: fixed;
width: 58vw;
bottom: 22%;
left: 24%;
padding: 0;
}

#monitor:hover{
    filter:drop-shadow(0 0 5rem #00ff00);
}

#laptop{
position: fixed;
width: 30vw;
bottom: 8%;
left: 2%;
padding: 0;
}

#laptop:hover{
    filter:drop-shadow(0 0 5rem #00ff00);
}

#discman{
position: fixed;
width: 14vw;
bottom: 13%;
left: 70%;
padding: 0;
}  

#discman:hover{
    filter:drop-shadow(0 0 1.3rem #00ff00);
}

#celular{
position: fixed;
width: 5vw;
bottom: 10%;
left: 86%;
padding: 0;
}

#celular:hover{
    filter:drop-shadow(0 0 0.75rem #00ff00);
}
